@mixin reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin at-breakpoint($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin opacity($opacity) {
  opacity: $opacity;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + ($opacity * 100) +")";
}
