// Colors
$base-color: #333;
$link-color: #33f;
$green: #0d5126;
$teal: #155450;
$purple: #673ff9;
$red: #c22;

// Font stacks
$miso: "Miso regular", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
$mossbook: "mossbook", "Arial", "Helvetica Neue", "Helvetica", sans-serif;

// Breakpoints
// If you update these - also update variables in
// app/assets/javascripts/modules/breakpoints.coffee
$xx-large: 1330px;
$x-large: 1000px;
$large: 980px;
$medium-large: 735px;
$medium: 650px;
$small: 500px;
