// Widths
$site-padding: 0 20px 20px;

// Colors
$base-color: #333;
$link-color: #33f;

// Font stacks
$mossbook: "mossbook", "Arial", sans-serif;

// Breakpoints
$large: 1000px;
$medium: 650px;
$small: 450px;
