// Widths
$site-padding: 0 20px 20px;

// Colors
$base-color: #333;
$link-color: #33f;
$green: #0d5126;
$teal: #0a6361;

// Font stacks
$mossbook: "mossbook", "Arial", sans-serif;

// Breakpoints
$xx-large: 1330px;
$x-large: 1000px;
$large: 980px;
$medium-large: 735px;
$medium: 650px;
$small: 500px;
