.close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  font-size: 40px;
  line-height: 0;
  text-align: center;
  color: $teal;
  &:hover {
    color: #000;
  }
}

.close-text {
  @extend %visuallyhidden;
}
