.button {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  font-size: 40px;
  line-height: 0;
  text-align: center;
  color: $teal;
  cursor: pointer;
  -moz-user-select: text;
  background: transparent;
  margin: 0;
  padding: 0;
  border: 0;
  &:hover {
    color: #000;
  }
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}

.button-text {
  @extend %visuallyhidden;
}
