@font-face {
  font-family: "mossbook";
  src: asset-url("moss_book/moss_book.eot");
  src: asset-url("moss_book/moss_book.eot?#iefix") format("embedded-opentype"),
       asset-url("moss_book/moss_book.woff") format("woff"),
       asset-url("moss_book/moss_book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
