*,
*:before,
*:after {
  @include box-sizing(border-box);
}

html,
body {
  height: 100%;
}

body {
  @include transition (background-image 2.0s ease-in-out);
  background: asset-url("backgrounds/1.jpg") repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
  &.page-type-about {
    background-image: asset-url("backgrounds/2.jpg");
  }
  &.page-type-svt {
    background-image: asset-url("backgrounds/3.jpg");
  }
}

.wrapper {
  padding: 3% 3% 10px;
  margin: 0 auto;
}

.page {
  padding: 20px;
  position: absolute;
  z-index: 1;
  top: 250px;
  left: 20px;
  right: 20px;

  width: 800px\9; // <= IE8
  left: 50%\9; // <= IE8
  right: auto\9; // <= IE8
  margin-left: -400px\9; // <= IE8
  @include at-breakpoint($large) {
    left: 16.5%;
    right: auto;
    width: 67%; // 100 - (16.5 * 2)
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
