*,
*:before,
*:after {
  @include box-sizing(border-box);
}

html {
  background: #0f6;
}

html,
body {
  height: 100%;
}

.wrapper {
  padding: 5.3% 6.3% 40px;
  margin: 0 auto;
}

.page {
  padding: 20px;
  position: absolute;
  top: 250px;
  left: 20px;
  right: 20px;
  @include at-breakpoint($large - 20) {
    left: 16.5%;
    right: 16.5%;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
