*,
*:before,
*:after {
  @include box-sizing(border-box);
}

html {
  background: asset-url("background.jpg") repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
}

html,
body {
  height: 100%;
}

body {
  max-width: 1000px\9; // <= IE8
  margin: 0 auto\9; // <= IE8
}

.wrapper {
  padding: 5.3% 6.3% 40px;
  margin: 0 auto;
}

.page {
  padding: 20px;
  position: absolute;
  top: 250px;
  left: 20px;
  right: 20px;

  width: 800px\9; // <= IE8
  left: 50%\9; // <= IE8
  right: auto\9; // <= IE8
  margin-left: -400px\9; // <= IE8
  @include at-breakpoint($large) {
    left: 16.5%;
    right: auto;
    width: 67%; // 100 - (16.5 * 2)
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
