html,
input,
button,
select,
textarea {
  line-height: 1.5;
  font-family: $miso;
  color: $base-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: darken($link-color, 10%);
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

::-moz-selection {
  background: $red;
  color: #fff;
}

::selection {
  background: $red;
  color: #fff;
}
