html,
input,
button,
select,
textarea {
  line-height: 1.5;
  font-family: "Josefin Sans", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
  color: $base-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $link-color;
  &:hover {
    color: darken($link-color, 10%);
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
