.footer {
  @include base-color;
  padding: 40px 0 0;
  border-top: 2px solid $base-color-fallback;
  border-top: 2px solid $base-color;
  text-align: center;
}

.contact-row {
  font-family: $mossbook;
  font-size: 20px;
  letter-spacing: 1px;
  @include at-breakpoint($medium) {
    font-size: 25px;
    letter-spacing: 3px;
  }
  @include at-breakpoint($xx-large) {
    font-size: 1.9vw;
    letter-spacing: 5px;
  }
}

.contact-row-email {
  display: block;
  @include at-breakpoint($medium-large) {
    display: inline;
  }
}

.footer-contact-link {
  @extend %base-link;
}

.additional-links {
  @include opacity(0.5);
  padding: 20px 0 0;
}

.additional-link {
  @extend %base-link;
}
