.gallery {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 97;
  width: 100%;
  text-align: center;
}

.gallery-inner {
  display: inline-block;
  position: relative;
}

.gallery-image-image {
  @include page-shadow(rgba(255, 0, 255, 0.75));
  display: inline-block;
}
