.header {
  @extend %clearfix;
  position: relative;
  border-bottom: 2px solid $base-color-fallback;
  border-bottom: 2px solid $base-color;
  padding: 0 0 10px;
  @include at-breakpoint($medium) {
    padding: 0 0 0.7%;
  }
  @include at-breakpoint($xx-large) {
    padding: 0 0 0.3%;
  }
}

.logotype {
  @extend %base-link;
  font-family: $mossbook;
  font-size: 28px;
  letter-spacing: 2px;
  @include at-breakpoint($small) {
    letter-spacing: 3px;
  }
  @include at-breakpoint($medium) {
    font-size: 4.3vw;
    letter-spacing: 4px;
  }
  @include at-breakpoint($medium-large) {
    letter-spacing: 6px;
  }
  @include at-breakpoint($large) {
    letter-spacing: 8px;
  }
  @include at-breakpoint($xx-large) {
    letter-spacing: 9px;
  }
}

.header-nav {
  @include base-color;
  font-size: 28px;
  @include at-breakpoint($medium-large) {
    position: absolute;
    right: 0;
    bottom: 4px;
  }
  @include at-breakpoint($large) {
    bottom: 15px;
  }
  @include at-breakpoint($xx-large) {
    font-size: $large-font-size;
  }
}

.header-nav-list {
  @extend %clearfix;
  @include reset-list;
}

.header-nav-list-item {
  float: left;
  margin: 0 20px 0 0;
  &:last-child {
    margin: 0;
  }
}

.header-nav-link {
  @extend %base-link;
}

.search-opener {
  @include button-as-link($base-color, $base-color-fallback, #000);
}
