.header {
  @extend %clearfix;
  border-bottom: 2px solid $green;
  padding: 0 0 15px;
  @include at-breakpoint($x-large) {
    padding: 0 0 0.3%;
  }
}

.logotype {
  float: left;
  font-family: $mossbook;
  font-size: 30px;
  letter-spacing: 2px;
  color: $green;
  @include at-breakpoint($small) {
    letter-spacing: 3px;
  }
  @include at-breakpoint($medium) {
    font-size: 4.3vw;
    letter-spacing: 4px;
  }
  @include at-breakpoint($medium-large) {
    letter-spacing: 6px;
  }
  @include at-breakpoint($large) {
    letter-spacing: 8px;
  }
  @include at-breakpoint($x-large) {
    letter-spacing: 9px;
  }
  &:hover {
    color: #000;
    text-decoration: none;
  }
}

.header-nav {
  float: right;
  font-size: 30px;
  @include at-breakpoint($x-large) {
    font-size: 2.5vw;
  }
}


.header-nav-list {
  @include reset-list;
}

.header-nav-list-item {
  float: left;
}
