.image-chaos {
  position: relative;
  @include at-breakpoint($medium) {
    .js & {
      height: 500px;
    }
  }
}

.image-chaos-items {
  @include reset-list;
}

.image-chaos-item {
  position: static !important;
  margin: 0 0 20px;
  &:last-child {
    margin: 0;
  }
  @include at-breakpoint($medium) {
    .js & {
      position: absolute !important;
      margin: 0;
    }
  }
}

.image-chaos-image {
  @include page-shadow(rgba(255, 0, 255, 0.75));
  @include at-breakpoint($medium) {
    max-width: none;
  }
}
