.page {
  padding: 20px;
  margin-bottom: 30px;
  border: 2px solid $teal;
  background: #fff;
  border-radius: 11px 6px 19px 8px / 443px 663px 151px 510px;
  color: $teal;
  @include at-breakpoint($small) {
    padding: 4% 5%;
  }
  &:focus {
    outline: none;
  }
}

.page-page {
  @include page-shadow(rgba(255, 0, 255, 0.75));
}

.page-project {
  @include page-shadow(rgba(0, 255, 255, 0.75));
}

.page-search {
  @include page-shadow(rgba(0, 0, 0, 0.75));
}

.page-title {
  margin: 0 0 30px;
  line-height: 0.9;
  font-size: 50px;
  @include at-breakpoint($large) {
    font-size: 65px;
  }
  @include at-breakpoint($xx-large) {
    font-size: 5vw;
  }
}

.page-text {
  p,
  ul,
  ol,
  table,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    font-size: 28px;
    line-height: 1.2;
    @include at-breakpoint($xx-large) {
      font-size: 2.5vw;
    }
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
    text-decoration: underline;
    text-transform: uppercase;
  }
  em {
    color: $purple;
    font-style: normal;
  }
}

.page-split-list {
  @include reset-list;
  font-size: 30px;

  @include at-breakpoint($medium-large) {
    @include columns(2);
    @include column-gap(20px);
  }

  @include at-breakpoint($xx-large) {
    font-size: 3vw;
  }
}

.page-index-link {
  color: $teal;
}
