.page {
  padding: 20px;
  border: 2px solid $teal;
  background: #fff;
  border-radius: 11px 6px 19px 8px / 443px 663px 151px 510px;
  &:focus {
    outline: none;
  }
}

.page-page {
  @include page-shadow(rgba(255, 0, 255, 0.75));
}

.page-project {
  @include page-shadow(rgba(0, 255, 255, 0.75));
}

.page-search {
  @include page-shadow(rgba(0, 0, 0, 0.75));
}
