.page {
  padding: 20px;
  border: 2px solid #000;
  background: #fff;
  border-radius: 913px 946px 835px 69px / 91px 95px 84px 691px;
  &:focus {
    outline: none;
  }
}

.page-page {
  @include page-shadow(rgba(255, 0, 255, 0.75));
}

.page-project {
  @include page-shadow(rgba(0, 255, 255, 0.75));
}

.page-search {
  @include page-shadow(rgba(0, 0, 0, 0.75));
}
