.sitemap {
  @include at-breakpoint($small) {
    @include columns(2);
    @include column-gap(20px);
  }

  @include at-breakpoint($medium) {
    @include columns(4);
    @include column-gap(50px);
  }
}

.sitemap-category {
  @include reset-list;
  margin: 0 0 30px;
  &:last-child {
    margin: 0;
  }
}

.sitemap-category-item {
  margin: 0 0 10px;
  &:last-child {
    margin: 0;
  }
}
