.sitemap {
  @include reset-list;
  padding: 3% 0;
  font-size: $small-font-size;
  @include at-breakpoint($small) {
    @include columns(2);
    @include column-gap(20px);
  }

  @include at-breakpoint($medium-large) {
    @include columns(3);
  }

  @include at-breakpoint($large) {
    @include columns(4);
  }

  @include at-breakpoint($xx-large) {
    font-size: $large-font-size;
  }
}

.sitemap-category-headline {
  @include base-color;
  display: block;
  font: inherit;
  text-transform: uppercase;
  line-height: 1.1;
}

.sitemap-category {
  margin: 0 0 1em;
  &:last-child {
    margin: 0;
  }
}

.sitemap-category-list {
  @include reset-list;
}

.sitemap-category-item {
  line-height: 1.15;
}

.sitemap-link {
  @extend %base-link;
  display: inline-block;
  position: relative;
  padding: 0 0 0 17px;
  @include at-breakpoint($xx-large) {
    padding: 0 0 0 30px;
  }
  .fa {
    position: absolute;
    left: 0;
    top: 8px;
    font-size: 15px;
    @include at-breakpoint($xx-large) {
      font-size: 1.5vw;
    }
  }
}
