.sitemap {
  @include reset-list;
  padding: 4.5% 0 3%;
  font-size: 28px;
  @include at-breakpoint($small) {
    @include columns(2);
    @include column-gap(20px);
  }

  @include at-breakpoint($medium-large) {
    @include columns(3);
  }

  @include at-breakpoint($large) {
    @include columns(4);
  }

  @include at-breakpoint($xx-large) {
    font-size: 2.5vw;
  }
}

.sitemap-category-headline {
  @include base-color;
  display: block;
  font: inherit;
  text-transform: uppercase;
  line-height: 1.1;
}

.sitemap-category {
  @include reset-list;
  margin: 0 0 20px;
  @include at-breakpoint($medium) {
    margin: 0 0 30px;
  }
  @include at-breakpoint($large) {
    margin: 0 0 40px;
  }
  @include at-breakpoint($xx-large) {
    margin: 0 0 50px;
  }
  &:last-child {
    margin: 0;
  }
}

.sitemap-category-item {
  line-height: 1.15;
}

.sitemap-link {
  @extend %base-link;
  display: inline-block;
  position: relative;
  padding: 0 0 0 17px;
  @include at-breakpoint($xx-large) {
    padding: 0 0 0 30px;
  }
  .fa {
    position: absolute;
    left: 0;
    top: 10px;
    font-size: 15px;
    @include at-breakpoint($xx-large) {
      top: 15px;
      font-size: 1.5vw;
    }
  }
}
